.about-city-list {
  padding: 10px 20px 36px;
  background-color: #fff;
  color: #333;
}

.about-city-item {
  /* padding: 10px 0px; */
}

.about-city-title {
  padding: 25px 0;
}

.about-city-example {
  display: flex;
  align-content: flex-start;
}

.about-city-icon {
  fill: #81b3d2;
  padding: 0px 10px;
  width: 100px;
}

.about-city-icon>svg {
  width: 40px;
}

.about-city-content {
  text-align: left;
}