.about-city-list {
  padding: 26px 20px 36px;
  background-color: #fff;
  color: #333;
}

.about-city-title {
  padding: 30px 0;
}

.about-city-example {
  display: flex;
  align-content: flex-start;
}

.about-city-icon {
  fill: #81b3d2;
  padding: 10px;
  width: 100px;
}

.about-city-icon>svg {
  width: 40px;
}

.about-city-content {
  text-align: left;
}