
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-hashtag {
  display: inline-block;
  margin: 43px;
  font-size: 21px;
}

.social-list {
   display: flex;
   gap: 10px;
   text-align: center;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
}

.copyright {
  display: flex;
  align-items: center;
  gap: 10px;
}
