.footer {
  display: flex;
  flex-direction: column;
  /*gap: 30px;*/
  align-items: center;
  padding: 38px 20px;
}

.hashtag {
  margin-bottom: 32px;
}

.social-list {
   display: flex;
   gap: 10px;
   margin-bottom: 40px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
}

.copyright {
  display: flex;
  align-items: center;
  gap: 10px;
}

.copyright-link {
  display: flex;
}
