.landing {
	padding: 26px 20px 46px;
}

.landing-text {
	margin: 24px;
}

.landing-button {
	display: inline-block;
	width: 100%;
	height: 50px;
	font-size: 21px;
	line-height: 150%;
}

.map-with-marker {
	background-image: url(../../img/map-desktop.jpg);
	background-position: center;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.marker-on-map {
	width: 30px;
	height: 30px;
	background-color: #81b3d2;
	border-radius: 15px;
	border: solid 5px white;
}