.lead-image {
  background-position: center;
  background-image: url(../../img/back-desktop.jpg);
  position: relative;
  height: 320px;
}

.lead-image-foreground {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.lead-header {
  margin-bottom: 28px;
}

.lead-description {
  padding: 30px 20px 20px 20px;
}