.lead-image {
  background-position: center;
  background-image: url(../../img/back-desktop.jpg);
  position: relative;
  height: 320px;
}

.lead-header {
  margin-bottom: 28px;
}
.lead-image-foreground {
  transform: translateY(25%)
}

.lead-description {
  padding: 30px 20px 30px 20px;
}