.reason-special {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 20px 0px;

}

.reason-image {
  width: 100%;
  height: 100%;
}

.reason-special-text {
  color: #ffffff;
}

.reason-regular {
  background-color: #EEEEEE;
  padding: 10px;
}

.about-city-icon {
  fill: #81b3d2;
  width: 52px;
  height: 52px;
}
