.reason.regular {
  position: relative;
}

.reason-item:not(:last-child)::after {
  content: "";
  background: #D6D6D6;
  position: absolute;
  left: 20px; 
  right: 20px;
  height: 1px;
}

.reason-item.regular {
  background-color: #EEEEEE;
  color: #333;
  padding: 24px 20px 4px;
}

.reason-item.special {
  display: flex;
  flex-direction: column;
  background-color: #81b3d2;
  color: #ffffff;
}

.reason-item.special .reason-title {
  color: #ffffff;
}

.reason-content {
  padding: 26px 20px;
}

.reason-text {
  margin: 12px 20px;
}

.reason-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}