.form-label {

}

.form-label-text {
  margin-right: 12px;
}

.short-label {

}

.long-label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label-text.long {
  padding-left: 20px;
}