.form-label {
  /* padding: 10px; */
  /* display: flex; */
  /* flex-grow: 1; */
  width: 300px;

  /* background-color: red; */
  /* margin-right: 8px; */
}
.form-label-text {
  margin-right: 12px;
}

.short-label {
  /* width: 100%; */
}

.long-label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label-text.long {
  padding-left: 20px;
}