.form-label {
  /* padding: 10px; */
  /* display: flex; */
  /* flex-grow: 1; */

  /* background-color: red; */
  /* margin-right: 8px; */
}
.form-label-text {
  margin-right: 12px;
}

.short-label {
  width: 100%;
}

.long-label {
  display: flex;
  flex-direction: column;
  width: 100%;
}